# Solarized Light – base3/base2 Hintergrund, base00 Text
[theme]
window_bg           = 253, 246, 227
child_bg            = 238, 232, 213
frame_bg            = 238, 232, 213
text                = 101, 123, 131
popup_bg            = 238, 232, 213
button              = 38, 139, 210
button_hovered      = 42, 161, 152
header              = 38, 139, 210
header_hovered      = 42, 161, 152
table_header_bg     = 238, 232, 213
table_row_bg        = 253, 246, 227
table_row_bg_alt    = 238, 232, 213
menu_bar_bg         = 228, 222, 203
